In [126]:
import pandas as pd

In [127]:
weather = pd.read_csv("weather.csv")

In [128]:
weather.head()

    지점 지점명               일시  기온(°C)  강수량(mm)  풍속(m/s)  풍향(16방위)  습도(%)  적설(cm)
0  108  서울  2018-10-01 0:00    14.1      NaN      2.6     270.0   55.0     NaN
1  108  서울  2018-10-01 1:00    13.9      NaN      2.0     270.0   57.0     NaN
2  108  서울  2018-10-01 2:00    13.9      NaN      2.4     270.0   56.0     NaN
3  108  서울  2018-10-01 3:00    13.6      NaN      1.6     230.0   56.0     NaN
4  108  서울  2018-10-01 4:00    13.7      NaN      1.9     270.0   56.0     NaN

In [129]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지점        8760 non-null   int64
 1   지점명       8760 non-null   object
 2   일시        8760 non-null   object
 3   기온(°C)    8759 non-null   float64
 4   강수량(mm)   820 non-null    float64
 5   풍속(m/s)   8756 non-null   float64
 6   풍향(16방위)  8756 non-null   float64
 7   습도(%)     8760 non-null   float64
 8   적설(cm)    138 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 616.1+ KB

In [130]:
# 쓸데없는 컬럼 제거
weather.drop(columns=["지점", "지점명"], inplace=True)

In [131]:
# 기온 결측치 찾기
weather[weather["기온(°C)"].isnull() == True]

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  풍향(16방위)  습도(%)  적설(cm)
1434  2018-11-29 18:00     NaN      NaN      0.9     320.0   46.0     NaN

In [132]:
# 결측치 일 기준 전후일 평균 기온 넣어주기
weather[weather["기온(°C)"].isnull() == True] = (weather["기온(°C)"][1434-1] + weather["기온(°C)"][1434+1]) / 2
weather["기온(°C)"][1434]

5.5

In [133]:
# 컬럼명 정리
weather.rename(columns={"기온(°C)" : "기온",
                       "강수량(mm)" : "강수량",
                       "풍속(m/s)" : "풍속",
                       "풍향(16방위)" : "풍향",
                       "습도(%)" : "습도",
                       "적설(cm)" : "적설"}, inplace=True)

In [134]:
# 강수량, 풍속, 적설 결측치 0 넣어주기
weather["강수량"].fillna(0, inplace=True)
weather["풍속"].fillna(0, inplace=True)
weather["적설"].fillna(0, inplace=True)

In [165]:
# 일시 배달 데이터랑 동일한 양식으로 바꾸기
weather["일시"] = weather["일시"].str.replace("-", "")
weather["일시"] = weather["일시"].str.replace(":00", "")

In [177]:
# 일자 / 시간대 나누기
weather["일자"] = weather["일시"].str.slice(0, 8)
weather["시간대"] = weather["일시"].str.slice(9)

In [179]:
# 컬럼 순서 재배열
weather.drop(columns="일시", inplace=True)
weather = weather[["일자", "시간대", "기온", "강수량", "풍속", "풍향", "습도", "적설"]]

In [182]:
weather.head()

         일자 시간대    기온  강수량   풍속     풍향    습도   적설
0  20181001   0  14.1  0.0  2.6  270.0  55.0  0.0
1  20181001   1  13.9  0.0  2.0  270.0  57.0  0.0
2  20181001   2  13.9  0.0  2.4  270.0  56.0  0.0
3  20181001   3  13.6  0.0  1.6  230.0  56.0  0.0
4  20181001   4  13.7  0.0  1.9  270.0  56.0  0.0

In [183]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8760 non-null   object
 1   시간대     8760 non-null   object
 2   기온      8760 non-null   float64
 3   강수량     8760 non-null   float64
 4   풍속      8760 non-null   float64
 5   풍향      8756 non-null   float64
 6   습도      8760 non-null   float64
 7   적설      8760 non-null   float64
dtypes: float64(6), object(2)
memory usage: 547.6+ KB

In [184]:
weather.to_csv("weather_2.csv")